@charset "UTF-8";
/*!
* Name
* Copyright 2022 ??
*/

/* General Style */
body {
  font-family: 'Lato', Helvetica, sans-serif;
  background: rgb(50,63,93);
  background: linear-gradient(156deg, rgba(50,63,93,1) 0%, rgba(48,61,90,1) 25%, rgba(8,11,16,1) 100%);
}
.main-container {

}
.navbar, footer {
  background-color: #2A3550;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: grey;
}
.navbar-toggler {
  border: none;
}
.spacer {
  height: 40px;
}
.transp-backgr {
  background-color: rgba(255, 255, 255, 0.15);
}
.upload-box {
  --border-width: 3px;
  
  display: block;
  position: relative;
  color: #ADB9D8;
  background: #19233B;
  border-radius: var(--border-width);
}
.upload-box::after {
  --border-width: 3px;

  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}
.upload-box:hover {
  color: #ADB9D8;
  background-color: #071127;
}


.upload-box-button-text {
  color: #EC4E6E;
  font-size: 1.4em;
  font-weight: 500;
}
.btn-upload {

}
.btn-upload:hover {
  
}
.btn-upload_from {
  background-color: #19233B;
  color: #EC4E6E;
}
.btn-upload_from:hover {
  background-color: #071127;
  color: #EC4E6E;
}
.dropzone {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 9999999999;               
  width: 100%; 
  height: 100%;
  padding: 4%;
  background-color: rgba(0,0,0,0.6);
  transition: visibility 175ms, opacity 175ms;
}
.dropzone .gradient-border {
  --border-width: 3px;

  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #ADB9D8;
  background: #19233B;
  border-radius: var(--border-width);
}
.dropzone .gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}


/* Sprites and images */
.gr-01, .gr-04a, .gr-04b, .gr-04c {
  background-image: url('../assets/gr04.svg');
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
}
.gr-01 {
  background-position: -32px 0px;
  width: 110px;
  height: 160px;
}
.gr-02 {
  background-image: url('../assets/gr02.svg');
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}
.gr-03 {
  background-image: url('../assets/gr03.svg');
  background-repeat: no-repeat;
  width: 253px;
  width: 180px;
  height: 22px;
  background-size: contain;
  
}
.gr-04a {
  background-position: 0 0;
}
.gr-04b {
  background-position: -150px 0;
}
.gr-04c {
  height: 150px;
  background-position: -300px 0;
}


/* Font Face Declaration */
/*
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');