{% extends 'base.html' %}
{% set active_page = "/contact" %}

{% block content %}

<section class="min-vh-100">
    <!-- Main Title -->
    <div class="container px-4 px-lg-5 pt-3 text-white">
        <div class="d-flex align-items-center">
            <div class="gr-01"></div>
            <h1 class=""><b>Free</b> Resize Image</h1>
        </div>
        <h5>A simple and 100% free image or photo resizer with rocket speed.</h5>
    </div>

    <!-- Page Content Block 1 - Upload -->
    <div class="container px-4 px-lg-5 text-white my-5">
        <h5>Contact Us section.</h5>
        <p>Content to be completed.</p>
    </div>

</section>

{% endblock %}