{% extends 'base.html' %}
{% set active_page = "/" %}

{% block content %}

<section>
    <!-- Main Title -->
    <div class="container px-4 px-lg-5 pt-3 text-white">
        <div class="d-flex align-items-center">
            <div class="gr-01"></div>
            <h1 class=""><b>Free</b> Resize Image</h1>
        </div>
        <h5 class="mb-5">A simple and free image or photo resizer with rocket speed.</h5>
    </div>

    <!-- Page Content Block 1 - Upload -->
    <div class="container px-4 px-lg-5">
        <!-- Message box -->
        <div id="liveAlertPlaceholder"></div>

        <!-- FilePond Upload -->
        <form method="POST" enctype="multipart/form-data">
            <input id="filePondUpload" type="file" class="filepond" name="filepond" multiple data-allow-reorder="true"
                data-max-file-size="3MB" data-max-files="3">
        </form>

        <!-- Upload buttons -->
        <div class="container-fluid text-center">
            <p class="text-white-50 mb-1">Other options to upload:</p>
            <input id="inputUploadFromFile" style="display:none" type="file" multiple />
            <button id="btnUploadFromUrl" class="btn btn-upload_from m-2" type="submit">From URL (Ctrl + V)</button>
            <button id="btnUploadFromPaste" class="btn btn-upload_from m-2 disabled" type="submit">Paste image (Crtl
                + V)</button>
        </div>

        <!-- Download last file button -->
        <a id="downloadFile" class="btn btn-download my-3 disabled" download>Download last uploaded image</a>
    </div>
</section>
<div class="spacer"></div>
<!-- Page Content Block 2 -->
<section>
    <div class="container px-4 px-lg-5">
        <!-- Content Row with cards -->
        <div class="row gx-lg-5 text-center text-white">
            <h2 class="my-5 slide-top-1">Photo editing 100% free, in your browser</h2>
            <div class="col-md-4 mb-5 slide-top-2">
                <div class="h-100">
                    <div class="gr-04a mx-auto"></div>
                    <p class="card-text">Shrink and enlarge your photos, crop for print or social media, flip or
                        rotate
                        for free.</p>
                </div>
            </div>
            <div class="col-md-4 mb-5 slide-top-2">
                <div class="h-100">
                    <div class="gr-04b mx-auto"></div>
                    <p class="card-text">Reduce and customize file properties and pixels to a desired quality or
                        size.
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-5 slide-top-2">
                <div class="h-100">
                    <div class="gr-04c mx-auto"></div>
                    <p class="card-text">Get web-ready image files by converting from BMP, GIF. JPG or PNG to a
                        compressed JPG.</p>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
        <!-- Text Description -->
        <div class="row mb-5 text-white">
            <h2 class="pb-4 slide-top-1">How we do it?</h2>
            <div class="col-sm slide-top-2">
                <p>Free Resize Image is an online app that allows you to compress your image or photo optimizing
                    quality. First method will reduce image quality. Quality will suffer as you increase compression
                    and start losing data. Second method is to decrease the pixels it takes to store the image.
                    Reducing image size doesn’t reduce image quality, although it may lose small details.
                </p>
                <p>Photos from modern cellphones and cameras usually have over 6 million pixels, while most
                    cellphones, tablets, notebook or TV screens have only about 1.5 million pixels, which means you
                    end up seeing a resized version of the image (you only use the full image if you print it). So
                    if you resize your image, decreasing its width and height to a half, your image would have about
                    the same number of pixels as the screens that will display it, and you wouldn’t be losing any
                    quality or detail, even looking at your image in full screen mode.</p>
            </div>
            <div class="col-sm slide-top-2">
                <p>Digital images are composed by pixels, and each of them has a color, represented as a combination
                    of three basic colors (red, green and blue). To store each of these pixels, 3 bytes (24 ones or
                    zeros) are generally used. When an image is large, it may have millions of pixels, and that
                    means storing all information for an image like that in a computer or any device will take
                    millions of bytes.</p>
                <p>When a camera or cellphone says it takes 10 megapixels photos, it means that each photo has 10
                    million pixels (mega = million). And having 10 million pixels means it takes 30 million bytes
                    (or 30 megabytes) to store that photo (which is a lot of space!). If you want to send this photo
                    (or many photos) to a friend by e-mail, it will have to transfer 30 megabytes of data and it
                    will take a while to upload it and a lot for the recipient to download it later.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
